.desc_container {
  display: flex;
  padding: 2px;
}
.desc_icon {
  padding: 0px;
  font-size: 19px;
}
.desc_points {
  font-size: 18px;
  padding-left: 12px;
  /* margin-bottom: 10px; */
  color: rgb(85, 83, 83);
  font-weight: 500;
}
