/*@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap");

.LoginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.Logincontainer {
  position: relative;
  min-width: 1100px; /*if you want to change width for white color  change here*/
  min-height: 500px;
  display: flex;
  z-index: 1000;
}
.login_melon_img {
  position: absolute;
  z-index: 10;
}
.login_melon_img img {
  width: 150px;
}

.slider-01 {
  left: 90px;
  top: 110px;
  z-index: 10000;
  transform: rotate(20deg);
  margin-top: 50px;
  /* animation: animate_left 10s linear infinite; */
}
.slider-01 img {
  width: 100px;
}
.slider-02 {
  transform: rotate(107deg);
  right: -36px;
  bottom: -90px;
  animation: animate_right 10s linear infinite;
}

.slider-03 {
  top: 30px;
  right: 30px;
  transform: rotate(330deg);
  margin-top: 50px;
  /* animation: animate_left 10s linear infinite; */
}
.slider-03 img {
  width: 140px;
}
.slider-04 {
  bottom: 16px;
  transform: rotate(9deg);
  margin-top: 50px;
  /* animation: animate_right 10s linear infinite; */
}
.Sign_slider-01 {
  left: 50px;
  top: 50px;
  z-index: 10000;
  transform: rotate(20deg);
  margin-top: 50px;
  animation: animate_right 10s linear infinite;
}
.Sign_slider-02 {
  transform: rotate(333deg);
  right: -36px;
  bottom: -90px;
  /* animation: animate_right 10s linear infinite; */
}
.Sign_slider-03 {
  left: 20px;
  bottom: 60px;
  transform: rotate(20deg);
}
.Sign_slider-01 img {
  width: 150px;
}
.Sign_slider-02 img {
  width: 130px;
}
.Sign_slider-03 img {
  width: 150px;
}
.Sign_slider-04 {
  top: 30px;
  right: 30px;
  transform: rotate(9deg);
  margin-top: 50px;
  /* animation: animate_left 10s linear infinite; */
}
/* animation Effects for left image in the header */
@keyframes animate_left {
  0%,
  100% {
    transform: translateX(-70px);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes animate_right {
  0%,
  100% {
    transform: translateX(100px);
  }
  50% {
    transform: translateY(80px);
  }
}
/* .bounce-animate {
  animation-name: float-bob;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -moz-animation-name: float-bob;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
} */
.Logincontainer .contactInfo {
  position: absolute;
  top: 50px;
  width: 350px;
  height: calc(100% - 100px);
  background-color: #112d42;
  background-image: url("https://thumbs.dreamstime.com/b/green-salad-prosciutto-cucumber-fig-black-stone-plate-food-top-view-free-space-your-text-197819104.jpg");
  background-position: center;
  background-size: cover;
  z-index: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  /* box-shadow: 20px 10px 10px 2px rgb(27 26 26 / 21%);
  border-radius: 15px; */
  box-shadow: 3px 10px 50px 20px rgb(175 163 163 / 39%);
  border-radius: 20px;
}
.Logincontainer .signUpContainer_img {
  background-image: url("https://images.unsplash.com/photo-1530554764233-e79e16c91d08?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
}
.Logincontainer .contactInfo h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.Logincontainer .contactInfo ul.info {
  position: relative;
  margin: 20px 0;
}
.Logincontainer .contactInfo ul.info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}
.Logincontainer .contactInfo ul.info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}
.Logincontainer .contactInfo ul.info li span:nth-child(1) img {
  max-width: 100%;
  filter: invert(1);
  opacity: 0.5;
}
.Logincontainer .contactInfo ul.info li span:nth-child(2) {
  color: #fff;
  margin-left: 25px;
  font-family: "Pontano Sans", sans-serif;
  opacity: 0.5;
}
.Logincontainer .contactInfo ul.info li:hover span:nth-child(1) img,
.Logincontainer .contactInfo ul.info li:hover span:nth-child(2) {
  opacity: 1;
}
.Logincontainer .contactInfo ul.sci {
  position: relative;
  display: flex;
}
.Logincontainer .contactInfo ul.sci li {
  list-style: none;
  margin-right: 15px;
}
.Logincontainer .contactInfo ul.sci li a {
  text-decoration: none;
}
.Logincontainer .contactInfo ul.sci li a img {
  filter: invert(1);
  opacity: 0.5;
}
.Logincontainer .contactInfo ul.sci li:hover a img {
  opacity: 1;
}
.Logincontainer .contactForm {
  position: absolute;
  padding: 70px 50px;
  padding-left: 250px;
  margin-left: 150px;
  width: calc(100% - 150px);
  height: 100%;
  background: #fff;
  /* box-shadow: 2px 2px 21px 20px rgb(175 163 163 / 39%);
  border-radius: 20px; */
  box-shadow: 3px 10px 50px 20px rgb(175 163 163 / 39%);
  border-radius: 20px;
}
.Logincontainer .contactForm h2 {
  color: #0f3959;
  font-size: 24px;
  font-weight: 500;
}
.Logincontainer .contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
.Logincontainer .contactForm .formBox .inputBox {
  position: relative;
  margin: 0 0 35px 0;
}
.Logincontainer .contactForm .formBox .inputBox.w50 {
  width: 47%;
}
.Logincontainer .contactForm .formBox .inputBox.w100 {
  width: 100%;
}
.Logincontainer .contactForm .formBox .inputBox input,
.Logincontainer .contactForm .formBox .inputBox textarea {
  width: 100%;
  resize: none;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  border: none;
  outline: none;
  border-bottom: 1px solid #777;
}
.Logincontainer .contactForm .formBox .inputBox textarea {
  min-height: 120px;
}
.Logincontainer .contactForm .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  transition: 0.3s;
}
.Logincontainer .contactForm .formBox .inputBox input:focus ~ span,
.Logincontainer .contactForm .formBox .inputBox textarea:focus ~ span,
.Logincontainer .contactForm .formBox .inputBox input:valid ~ span,
.Logincontainer .contactForm .formBox .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ff568c;
  font-weight: 500;
}
.Logincontainer .contactForm .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background-color: rgba(9, 126, 87, 0.819);
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.Logincontainer .contactForm .formBox .inputBox input[type="submit"]:hover {
  background-color: #e1004bcc;
}

@media (max-width: 1200px) {
  .Logincontainer {
    width: 90%;
    min-width: auto;
    margin: 20px;
  }
  .Logincontainer .contactInfo {
    top: 0;
    height: 500px;
    position: relative;
    box-shadow: none;
  }
  .Logincontainer .contactForm {
    position: relative;
    width: calc(100% - 350px);
    padding-left: 0;
    margin-left: 0;
    padding: 20px;
    height: 500px;
    box-shadow: none;
  }
  .slider-01 {
    left: 46px;
    top: 66px;
    z-index: -100;
  }
  .slider-03 {
    right: 9px;
  }
  @keyframes animate_right {
    0%,
    100% {
      transform: translateX(10px);
    }
    50% {
      transform: translateY(80px);
    }
  }
}
@media (max-width: 991px) {
  .Logincontainer {
    display: flex;
    flex-direction: column-reverse;
  }
  .Logincontainer .contactForm {
    width: 100%;
    height: auto;
  }
  .Logincontainer .contactInfo {
    width: 100%;
    height: 500px;
    flex-direction: row;
  }
  .Logincontainer .contactInfo ul.sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-02 {
    transform: rotate(107deg);
    right: 6px;
    bottom: -90px;
    animation: animate_right 10s linear infinite;
  }
  .slider-02 img,
  .slider-03 img {
    width: 100px;
  }
  .slider-03 {
    top: 50px;
    right: 50px;
    transform: rotate(330deg);
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  .Logincontainer .contactForm {
    padding: 25px;
  }
  .Logincontainer .contactInfo {
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
  }
  .Logincontainer .contactInfo ul.sci {
    margin-top: 40px;
  }
  .Logincontainer .contactForm .formBox .inputBox.w50 {
    width: 100%;
  }
  .slider-01 img,
  .slider-02 img,
  .slider-03 img {
    width: 60px;
  }
  .slider-02 {
    transform: rotate(0deg);
    animation: inherit;
  }
}

.signup_button {
  background-color: #049a09d1;
  border: none;
  border-radius: 20px;
  padding: 10px 40px;
  color: #ffffff;
  font-weight: 800;
  font-size: 17px;
  transition: 0.5s;
}
.signup_button:hover {
  background-color: #9e9fa2c5;
  color: #08538d;
}
